* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: #737373;
}

body > main {
  -webkit-animation: pageSlideIn 1s ease-in-out;
          animation: pageSlideIn 1s ease-in-out;
}

main {
  height: 100vh;
  width: 100vw;
  background-color: #0b0b0b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#backBtn {
  z-index: 1;
  height: 3em;
  width: 5em;
  position: absolute;
  left: 1em;
  top: 1em;
  -webkit-animation: fadeIn 10s;
          animation: fadeIn 10s;
}

i {
  color: #737373;
  font-size: 1.5em;
}

nav {
  height: 5rem;
  width: 100%;
  position: absolute;
  top: 0;
}

nav #logo {
  height: 100%;
  width: 80%;
}

nav #logo h1 {
  color: #737373;
  font-size: 3.5vw;
  margin-left: 15px;
  margin-top: 10px;
  font-family: "Montserrat";
  font-weight: 400;
}

nav #logo #firstName {
  color: #f9f9f9;
}

nav #navBtn {
  height: 40px;
  width: 40px;
  position: absolute;
  right: 10px;
  top: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-animation: fadeIn 10s;
          animation: fadeIn 10s;
}

nav #navBtn .line {
  height: 3px;
  margin: 3px;
  margin-left: auto;
  background-color: #f9f9f9;
}

nav #navBtn .lineOne {
  width: 15px;
}

nav #navBtn .lineTwo {
  width: 25px;
}

nav #navBtn .lineThree {
  width: 18px;
}

#navMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80%;
  width: 100%;
  position: absolute;
  top: 0;
  background-color: #0b0b0b;
  z-index: 1;
  text-align: center;
  display: none;
}

#navMenu ul {
  -webkit-animation-name: navLinkFadeIn;
          animation-name: navLinkFadeIn;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}

#navMenu li {
  color: #f9f9f9;
  font-size: 4vh;
  margin-top: 5px;
  font-family: "Karla";
  list-style-type: none;
  letter-spacing: 1px;
}

#navMenu li a {
  color: #737373;
  text-decoration: none;
}

#navMenu .underline {
  height: 1px;
  width: 50vw;
  background-color: #737373;
  margin-top: 25px;
  margin-bottom: 25px;
}

#navMenu #closeMenuBtn {
  color: #737373;
  width: 10%;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 4vh;
  font-family: "Montserrat";
}

#imageContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: auto;
  width: 100%;
}

#imageContainer #myImg {
  height: 175px;
  width: 175px;
  border-radius: 100%;
  margin-top: 30px;
  -webkit-animation: imgSlideIn 2.7s ease-in-out;
          animation: imgSlideIn 2.7s ease-in-out;
}

#bioContainer {
  height: auto;
  width: 80vw;
}

#bioContainer h1 {
  color: #737373;
  font-size: 2.8vh;
  padding: 5px;
  letter-spacing: 1.5px;
  font-family: "Montserrat";
  line-height: 45px;
}

#bioContainer h1 #firstName {
  color: #737373;
}

#bioContainer h1 .brackets {
  color: #2d8f8f;
}

#bioContainer h1 #jobTitle {
  color: #737373;
}

#bottomLine {
  height: 3px;
  width: 90%;
  background-color: #2d8f8f;
  margin-top: 45px;
}

/* Animations
***********************************************************/
@-webkit-keyframes navSlideDown {
  from {
    height: 0%;
  }
  to {
    height: 80%;
  }
}
@keyframes navSlideDown {
  from {
    height: 0%;
  }
  to {
    height: 80%;
  }
}

@-webkit-keyframes navSlideUp {
  from {
    height: 80%;
  }
  to {
    height: 0%;
  }
}

@keyframes navSlideUp {
  from {
    height: 80%;
  }
  to {
    height: 0%;
  }
}

@-webkit-keyframes navLinkFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 10;
  }
}

@keyframes navLinkFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 10;
  }
}

@-webkit-keyframes pageSlideIn {
  from {
    margin-left: -1000px;
    border-radius: 100%;
    opacity: 0;
  }
  to {
    width: 100vw;
    height: 100vh;
    border-radius: 0%;
    opacity: 1;
  }
}

@keyframes pageSlideIn {
  from {
    margin-left: -1000px;
    border-radius: 100%;
    opacity: 0;
  }
  to {
    width: 100vw;
    height: 100vh;
    border-radius: 0%;
    opacity: 1;
  }
}

@-webkit-keyframes imgSlideIn {
  from {
    margin-left: -1500px;
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
    opacity: 0;
  }
}

@keyframes imgSlideIn {
  from {
    margin-left: -1500px;
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
    opacity: 0;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
}

/* Responsive Media Queries 
***************************************************************/
/* Extra extra small devices */
@media only screen and (width: 375px) {
  #bioContainer h1 {
    font-size: 2vh !important;
  }
  li {
    font-size: 3vh !important;
  }
}

/* Extra small devices */
@media only screen and (max-width: 400px) {
  #bioContainer {
    height: 100% !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #bioContainer h1 {
    font-size: 3.5vw;
  }
  #bioContainer .underline {
    margin-bottom: 100px;
  }
}

/* Extra small devices */
@media only screen and (width: 411px) {
  h1 {
    font-size: 2vh !important;
  }
  li {
    font-size: 3vh !important;
  }
}

/* Small devices */
@media only screen and (min-width: 428px) and (max-width: 540px) {
  #imageContainer {
    margin-top: 20%;
  }
  h1 {
    font-size: 2vh !important;
  }
  li, #closeMenuBtn {
    font-size: 3vh !important;
  }
}

/* Tablets */
@media only screen and (width: 768px) {
  #imageContainer {
    margin-top: 20%;
  }
  h1 {
    font-size: 2vh !important;
  }
  li, #closeMenuBtn {
    font-size: 2.5vh !important;
  }
}

@media only screen and (width: 1024px) {
  li, #closeMenuBtn {
    font-size: 2.5vh !important;
  }
  #imageContainer {
    margin-top: 20%;
  }
  h1 {
    font-size: 2.5vw !important;
  }
}

/* Extra large devices */
@media only screen and (min-width: 1200px) {
  #navMenu {
    height: 100%;
  }
  ul {
    -webkit-animation: navLinkFadeIn 5s !important;
            animation: navLinkFadeIn 5s !important;
  }
  ul a:hover {
    color: #f9f9f9 !important;
  }
  ul .underline {
    width: 20vw !important;
  }
  #navBtn:hover {
    cursor: pointer;
  }
  #closeMenuBtn:hover {
    cursor: pointer;
    color: #f9f9f9 !important;
  }
  #bioWrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #bioContainer {
    width: 40%;
  }
  #bottomLine {
    width: 100%;
  }
  @-webkit-keyframes navSlideDown {
    from {
      height: 0%;
    }
    to {
      height: 100%;
    }
  }
  @keyframes navSlideDown {
    from {
      height: 0%;
    }
    to {
      height: 100%;
    }
  }
  @-webkit-keyframes navSlideUp {
    from {
      height: 100%;
    }
    to {
      height: 0%;
    }
  }
  @keyframes navSlideUp {
    from {
      height: 100%;
    }
    to {
      height: 0%;
    }
  }
  @-webkit-keyframes navLinkFadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes navLinkFadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}
/*# sourceMappingURL=about_styles.css.map */